#cloud-config
users:
  - name: ${ssh_user}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}
      - ${ssh_deploy_public_key}

package_update: true
packages:
  - curl
  - ca-certificates
  - gnupg
  - apt-transport-https