cloud_id  = "your-cloud-id"
folder_id = "your-folder-id"
zone      = "ru-central1-a"
ssh_public_key_path = "C:/Users/user/.ssh/id_ed25519.pub"
ssh_deploy_public_key_path = "C:/Users/user/.ssh/github_deploy.pub"